
	body{
		background-color: #272727;
	}


	#total-orders{
		background-color: white;
	}


	#orders-delivered{
		background-color: white;
	}

	#orders-pending{
		background-color: white;
	}